.logo {
    grid-area: logo;
}

.main-menu {
    grid-area: menu;
}

.content-area {
    grid-area: content;
}

.sidebar {
    grid-area: sidebar;
}

.sponsors-wrapper {
    grid-area: sponsors;
}

.footer {
    grid-area: footer;
}